[2016-10-07 13:18] radare opened #1 "Implement R2PIPE_IN|OUT For Ruby r2pipe bindings"

[2016-10-07 13:20] radare opened #2 "Write proper mocha testsuite for nodejs"
And ensure the following tests work as expected

There are some code constructions that can result in failed attempts, when the code looks good.

* [ ] openSync() with 1 parameter
[code]
* [ ] openSync() with no parameters
[code]

* [ ] open() with 1 parameter
[code]

* [ ] open() with no parameters
[code]

[2016-10-07 13:26] radare opened #3 "Improve "no r2 installed" error for NodeJS"

[2016-10-07 13:27] radare opened #4 "Modernize r2pipe.js to use more ES6"
* [ ] Use `let` and `const` where possible.
* [ ] Arrow functions in examples
* [ ] Support coroutines with generators and such (future premises)

[2016-10-07 13:36] radare opened #5 "Fix the process.nextTick issue"
https://howtonode.org/understanding-process-next-tick

[2016-10-07 13:55] radare opened #6 "Merge Ocaml + OcamlR2 implementations"
We should have only one ocaml

[2016-10-07 14:00] radare opened #7 "Merge r2pipe.py and -async"

[2016-10-07 15:32] radare opened #8 "Perl namespaces shouldnt be "Pwn""
what about Radare ? :p

[code]

instead of

[code]

[2016-10-07 15:32] radare commented on #8
cc @adriaandens

[2016-10-07 15:34] radare commented on #7
cc @cr0hn

[2016-11-05 17:11] #8 closed

[2016-12-19 19:10] gtors commented on #7
@radare Can you disclose details?

[2016-12-19 19:21] radare commented on #7
Theres a python -async implementation of r2pipe, but it is separated from the standard r2pipe one that everybody uses. The nodejs api supports sync and async operations. The idea behind this issue is to merge both implementations into the sync one. To have async r2pipe support via pip and write proper tests for it

[2017-01-17 20:19] Silur opened #11 "C example is not working"
the ![c example](https://github.com/radare/radare2-r2pipe/tree/master/c) compiled with `gcc -o test test.c -I /usr/include/libr -lr_socket -lr_util` probably blocks the main thread because the only output is `[+] r2pipe child is <PID>` and hangs forever without any result from r2cmd.

example: https://asciinema.org/a/1tq7b85zhzrxgpmt2qhcyrcbt
My system is x86_64 Arch 4.8.13
radare2 1.1.0 9999999 @

[2017-01-17 23:45] radare commented on #11
fixed in master... but we should run this testsuite in travis

[2017-01-17 23:45] #11 closed

[2017-01-17 23:45] radare commented on #11
@Maijin ^

[2017-03-02 20:12] katshup opened #14 "R2Pipe Python can't load project files without binary"
Due to how the filename argument is passed into subprocess.Popen, I cannot pass in the flags to open r2 with a project file without needing to also supply an actual binary.

I think R2Pipe should allow a user to specify a project file or an actual binary to open r2 with.

[2017-03-03 12:12] radare commented on #14
Right. Any proposal to change the api?

[2017-05-12 14:32] Frefreak opened #20 "r2pipe python __init__.py relative import would not work in python3"
https://github.com/radare/radare2-r2pipe/blob/master/python/r2pipe/__init__.py#L40-L44
[code]
Since python3 forbidden relative import `has_native` would always be **False** in py3. How about change it to something like `from native import RCore` and modify https://github.com/radare/radare2-r2pipe/blob/master/python/r2pipe/__init__.py#L206. It seems currently RCore is the only attribute used from n

[2017-05-12 16:58] radare commented on #20
Please send a pr

[2017-05-12 16:59] radare commented on #20
Or just click the pencil button in github, it will do the fork, branch, pr in just 2 clicks

[2017-05-13 02:16] #20 closed

[2017-07-14 15:01] invictus-0x90 opened #26 "Disabling warnings from r2pipe"
Hi, we are processing a large number of binaries using r2pipe (python), and have been trying to find a way to disable warnings. Mainly, whenever we open the pipe we get:
Warning: cannot initialize dynamic strings

As you can imagine, when this occurs over 100+ times it can get quite frustrating. I've so far tried editing r2's __init__.py and setting stderr=PIPE to stop it being printed to the term

[2017-07-14 15:07] radare commented on #26
Close stderr fd

[2017-07-14 15:20] invictus-0x90 commented on #26
in my code or yours? doing sys.stderr.close() in my code doesn't work

[2017-07-17 12:33] radare commented on #26
use r2 -2, so.. add “-2” in the list of arguments. this will make r2 close the stderr fd for you

[2017-07-17 15:22] invictus-0x90 commented on #26
Yep that worked a charm, thanks for that!

[2017-07-17 15:39] #26 closed

[2017-08-18 21:10] Stormys opened #28 "R2Pipe Python Fails Sometimes"
So, I can't seem to figure out why and what is causing r2pipe to fail for me.
I am writing a program to essential go a list of binaries, get the functions, and select certain functions that I have marked as of interest and run ```ag [func]``` to obtain their dot graph.

Yet, I have not been able to figure out why my code will return NoneType object errors with ```ag [func]``` on all of the functio

[2017-08-19 16:57] radare commented on #28
cant reproduce on mac with /bin/ls

can you provide more details, like version of r2, which binary are you using, which OS, version of python, version of the r2pipe module, etc ?

[2017-08-22 14:18] Stormys commented on #28
Here is a full python script that causes my issue along with a compiled version of cat and the output of running my script on cat.

Let me know if you are able to reproduce it

[r2pipe_issue_28.tar.gz](https://github.com/radare/radare2-r2pipe/files/1242291/r2pipe_issue_28.tar.gz)

[2017-08-22 15:13] Stormys commented on #28
So I figured out my issue. It is occurring due to radare2 asking "Do you want to print x lines?" after a command. Is there a way to disable this? If not I believe this would be useful to implement especially for those using r2pipe to interact with radare.

[2017-08-22 15:13] #28 closed

[2017-09-04 11:05] invictus-0x90 opened #31 "r2pipe output from one command does not correspond to json equivalent."
This isn't making much sense to me, but if I analyse a function such as the snippet here using pdf:
<...snip....>
0x004210aa      0f8454ffffff   je 0x421004
0x004210b0      4981fa001000.  cmp r10, 0x1000
0x004210b7      0f8447ffffff   je 0x421004
0x004210bd      31c0           xor eax, eax
0x004210bf      e9fefeffff     jmp 0x420fc2

the end of the json output (pdfj) doesn't seem to be correct. I'

[2017-09-04 11:37] radare commented on #31
This issue is not related to r2pipe. Please fill this in r2 and provide version of r2, way to reproduce, binary sample, etc

[2017-09-06 09:54] #31 closed

[2017-10-20 16:02] jmerdich opened #32 "Handle batched commands with python API"
Putting in commands with multiple parts (eg. `foo.cmd('aa; axt foo')`) desyncs at least the python API, as r2 sends a NULL as each command finishes, and r2pipe only expects one and stops reading there. Can we handle this or at put a note somewhere obvious?

[2017-10-20 17:20] radare commented on #32
That depends on the channel . With spawn is like this but will work on http and maybe in pipe mode too

[2017-10-24 14:57] radare commented on #32
running ‘aa’ is not recommended, but this could be the reason why in some cases aa/aaa unsyncs the r2pipe communication

[2017-10-24 15:05] jmerdich commented on #32
Actually, I was able to replicate it with any command with a semicolon, the
`aa` was just an example. This was specifically on the python backend using
e.g. `r2pipe.open("/bin/ls")` (can't remember which backend that is).

On Oct 24, 2017 10:57 AM, "radare" <notifications@github.com> wrote:

[2017-10-24 16:54] radare commented on #32
so the \0 terminator should be stripped down until the command ends, this can reuse the mutex logic to avoid printing that

but from your test i cant reproduce the issue, which OS are you running this?

also which version of r2

[2017-12-04 10:01] GiuseppeLaurenza opened #34 "r2pipe TextIOWrapper error"
Hi,
updating radare2 to the last commit, now I have a TextIOWrapper error

r2 -v

commit: 410ca098030e18f9cff00d49c45499fa33b4f1db build: 2017-12-04__10:40:40

pip freeze | grep r2pipe

using r2 to analyze directly the file I have not any problem

[2017-12-04 12:10] radare commented on #34
please @AlexKornitzer fix that regression was introduced by you in 7d6ab9bc9c72394e7219bb5d2ea98276605d34cd

[2017-12-04 12:11] AlexKornitzer commented on #34
@radare on it. @GiuseppeLaurenza is this for python 2 or 3?

[2017-12-04 12:28] GiuseppeLaurenza commented on #34
I use it with python2. I did not tested it with python3

[2017-12-04 12:29] AlexKornitzer commented on #34
@GiuseppeLaurenza That will be the problem then I only tested it on Python 3, apologies. I will try and get a fix in this evening.

[2017-12-04 13:29] AlexKornitzer commented on #34
@radare @GiuseppeLaurenza the PR above should fix the issue :)

[2017-12-04 13:37] GiuseppeLaurenza commented on #34
@AlexKornitzer thanks for the fix,
sorry for the stupid question, how I can apply the fix? Usually I use pip to install r2pipe but I can use also git if you explain how to add this commit in the clone process

[2017-12-04 13:39] AlexKornitzer commented on #34
Probably best to wait for @radare to push it to the pip repository. Otherwise you can directly modify the file to reflect that in the PR.

[2017-12-04 13:51] GiuseppeLaurenza commented on #34
@AlexKornitzer ok thanks
@radare which will be the estimated time for the update of the pip package? Thanks in advance

[2017-12-04 16:09] radare commented on #34
i have released 0.9.4, please test and close the issue if so :)

[2017-12-04 16:12] radare commented on #34
now

[2017-12-04 16:37] GiuseppeLaurenza commented on #34
problem is apparently solved with the fix, so I close the issue for now
Thanks @radare and @AlexKornitzer

[2017-12-04 16:37] #34 closed

[2017-12-04 18:35] radare commented on #34
Awesome! Thanks @alexkornitzer

[2017-12-04 18:36] AlexKornitzer commented on #34
@radare np, if you break it, you fix it :P

[2017-12-05 12:42] GiuseppeLaurenza opened #36 "Timeout commands"
Hi,
I need to set a timeout to the aaaa command, because I need to automatically analyze various samples, so if there is one that can "stuck" the analysis for long time, I prefer to stop and use a lighter command (like "aa")
How I can do it?
Thanks in advance

[2017-12-05 15:01] GiuseppeLaurenza commented on #7
there is any news about async command with python?

[2017-12-05 16:12] radare commented on #7
No one did anything to merge those two modules. So i dont know

[2017-12-05 23:01] radare commented on #36
There’s anal.timeout eval var iirc. Not sure if its honored . Sending a sigint aka ^c to the process can work too

Let me know

[2017-12-06 09:01] GiuseppeLaurenza commented on #36
Can you explain with more details the anal.timeout suggestion?
The signal way is not so easy to apply in my tool

[2017-12-06 09:53] indivisible opened #37 "Python3 module fails after 1 command"
Hi, the latest r2pipe module fails with python3.6 on the 2nd command with `r2pipe.cmdj.Error: I/O operation on closed file`

The cause of the error seems to be the `TextIOWrapper` being created on every call in https://github.com/radare/radare2-r2pipe/blob/55b275a91287e26a60b367db5d7c3edc8bead416/python/r2pipe/__init__.py#L169

This fixes it for me:

    diff --git a/python/r2pipe/__init__.py b/py

[2017-12-06 10:16] GiuseppeLaurenza commented on #36
I try to set anal.timeout=10 to test, I see Timeout message, but than r2 remains stucked

[2017-12-07 09:47] radare commented on #36
Yeah its poorly tested. Not sure if theres a timeout for rcons too. Not in laptop right now.

[2017-12-10 11:28] Maijin commented on #37
Use Pull-Request, diff are useless

[2017-12-10 12:19] #37 closed

[2017-12-14 07:43] XVilka opened #39 "OCaml r2pipe cleanup"
- [ ] Remove duplication - why two almost identical interfaces?
 - [ ] Update opam package https://github.com/ocaml/opam-repository/tree/master/packages/radare2
 - [ ] Ask to remove obsolete r2pipe package https://github.com/ocaml/opam-repository/tree/master/packages/r2pipe

[2017-12-17 13:11] andreafioraldi opened #41 "get path of the loaded binary when using #!pipe"
Hi guys,
i'm writing a radare plugin using r2pipe and i want to know the path of the binary loaded in radare.
There is a command to do that? I searched a lot in the documentation without results.
Thanks :)

[2017-12-17 15:28] radare commented on #41
oj

[2017-12-18 11:30] #41 closed

[2017-12-19 08:26] andreafioraldi opened #42 "pip install r2pipe error on Windows 7"
When i try to install r2pipe in Windows 7 i get the following error:
[code]
note: I'm using python 2.7.14 amd64

[2017-12-19 15:18] radare commented on #42
Should be fixed in 0.9.6 pls update r2pipe and confirm

[2017-12-22 04:19] securisec opened #45 "No output from r2pipe since latest updates"
[code]
`r2pipe==0.9.6`

Since the latest updates, I cant get any output from the python r2pipe. I have tested this on multiple systems and the issue seems to persist. Second machine had r2pipe version 0.9.4 installed.

[2017-12-22 10:51] radare commented on #45
ive pushed 0.9.7, pls let me know if that works for you, but it was fine for me, at least the test scripts was passing

[2017-12-22 14:30] securisec commented on #45
@radare I dont think the problem is with r2pipe. The problem started since the last couple of builds of r2. I tested the latest version for r2 with r2pipe python versions 0.9.4-0.9.7 and its the same issue. See the reproducing steps:

[code]

[2017-12-22 16:45] securisec commented on #45
What is quirky is that `r.cmdj('ij')` works, but using r.cmd('aa') before running anything else will show v so that whole script crashes.
[code]

[2017-12-22 16:48] securisec commented on #45
Another example:
[code]
output:
[code]

[2017-12-22 16:54] securisec commented on #45
https://pastebin.com/8MafHTwT

[2017-12-22 17:01] securisec commented on #45
This was happening due to incorrectly commenting out a line in .radare2rc. Dont use `#foo`. It is `# foo`

[2017-12-22 17:01] #45 closed

[2018-02-24 17:33] harjot-oberai opened #49 "Install error on Window 10"
I am trying to install r2pipe on windows 10, 64 bit, but it always fails with the following error
[code]

[2018-02-27 10:35] radare commented on #42
closing for now

[2018-02-27 10:35] #42 closed

[2018-02-27 14:25] radare commented on #49
pls confirm if fixed in 0.9.9

[2018-02-27 14:34] harjot-oberai commented on #49
Yup, fixed.

Thank you

[2018-02-27 14:34] #49 closed

[2018-02-27 14:47] radare commented on #49
Awesome . Thanks for testing. Love blindfixes

[2018-03-14 12:02] Wenzel opened #54 "Python: Truncated output from r2.cmd"
Hi,

I am testing r2pipe in Python and i have a case where the url that open generates a lot of output.
The rest of my script attempt to run `pd 10` and get the result:
[code]

When logging prints the content of `output`, the output appears to have been truncated:
[code]

As you can see the last line is `Intercep`, and this whole output is the one from the `open` method.
So there is a limit somewh

[2018-03-14 12:05] radare commented on #54
can you len(output) to see if thats a magic value like 4096 or so?

[2018-03-14 12:05] radare commented on #54
are you printing any \x00 nullbyte?

[2018-03-14 12:08] Wenzel commented on #54
@radare interesting, the output is always almost a magic size:

either this:
[code]

or this value:

[code]

=)

[2018-03-14 12:10] Wenzel commented on #54
@radare no, i'm not printing any buffer, just strings.
this works fine with `r2`.

[2018-03-14 12:12] Wenzel commented on #54
For example, if i try to intercept the kernel process (the one which is the most frequently scheduled),
the script is working and i have `pd 10` output:

`len(output)` here is 3457
[code]

[2018-03-14 18:04] radare commented on #54
Enotime right now but you may want to check the code of r2pipe with that simple test and try to fix the read loop and send a pr if you can. Otherwise i will try to find time but thats not easy for me

[2018-03-16 14:27] quim0 commented on #54
Here:

[code]

What `url` are you using? Can't reproduce using process.

[2018-03-16 14:29] Wenzel commented on #54
@quim0 i'm developing a debugger plugin based on virtual machine introspection:
Here: https://github.com/Wenzel/radare2-extras/blob/python/vmi/r2vmi.py#L47

[2018-03-16 18:49] quim0 commented on #54
Are you sure you're not printing any nullbytes?
Because I still can't reproduce. I've not used your plugin with qemu yet, but I'm able to print >15K characters with it without any problem, so idk if this is related to r2pipe.

[code]

[2018-03-16 18:52] Wenzel commented on #54
hmm, if you would print a nullbyte, the buffer length would not be a magic number like `4095` in my opinion.

Thank you for investigating.
I will take a look next week if i can

[2018-03-16 20:50] radare commented on #54
Any specific info like OS? Or python version?

Can you cook a small script to test if that works or not to include in the testsuite and for us to test?

Thanks

[2018-03-18 11:27] radare commented on #54
ping

[2018-03-18 11:56] Wenzel commented on #54
Hello, you know it's the week-end don't you :)

but anyway:
OS: Ubuntu 16.04 stable
Python 3.5.2

I made a video to demonstrate how it happens:
https://drive.google.com/file/d/1D8Zj2MB35y3lq7MxcpVgC4CJmvDSxkdH/view?usp=sharing

[2018-03-29 06:43] XVilka commented on #39
Obsolete r2pipe package  is now deprecatedhttps://github.com/ocaml/opam-repository/commit/ab452ede247e8cd449a7906385ecd1514de00194
Updated and improved "radare2" ocaml r2pipe binding.

[2018-03-29 10:25] radare commented on #39
?

[2018-03-29 10:33] XVilka commented on #39
@radare in [opam](https://opam.ocaml.org/) repository

[2018-03-29 17:56] radare commented on #39
its not deprecated. the code in opam is from 2016. the one we have implemented in r2pipe is from 2017.

Those are different implementations, so, as long as this one is public, we should probably clone that and keep a reference in the r2pipe repo. i like to clone r2pipe and see the code of all the implementations of r2pipe without having to reference remote repos or having to guess if there's an im

[2018-03-30 01:42] XVilka commented on #39
@radare it is done already. There are two implementations here: `ocaml-r2` and `ocaml`  directories.
The one is old and unmaintained (from the https://github.com/binoopang/r2pipe-ocaml repo), the second is more featureful, updated and maintained (last commit 3 days ago, main repo https://github.com/fxfactorial/ocaml-radare2 ). I asked the author of r2pipe-ocaml (the first one) to deprecate his imp

[2018-04-11 13:32] epinna opened #57 "TypeError on python3 when calling r2.quit()"
Hello,

Installed versions:

[code]

R2-pipe test file `test.py`:

[code]

It works if called with python2, but it breaks if called with python3 (both installed with pip and pip3):

[code]

[2018-04-28 12:32] idanw206 opened #58 "Python: MANIFEST.in doesn't contain itself"
Because of this issue, when extracting and rebuilding distribution, the new distribution is corrpted (because it tries to read the README.md in the setup.py, but this file isn't in the distribution.)

[2018-04-28 12:33] radare commented on #58
Send a pr indtead of opening an issue. Its faster and more productive

[2018-04-28 12:43] idanw206 commented on #58
Just did :)

[2018-05-23 19:10] cle0n opened #60 "r2pipe open"
My python script right now opens a pipe using `r2 = r2pipe.open()` without any arguments, and is invoked like `[0x0401000] . script.py`. It needs to collect data by performing some automation tasks then give control back to the user in r2 who invoked it. But at the same time I want it to remain running in the background so that I may continue to invoke it and perform more analysis as I move along.

[2018-05-28 20:51] cle0n commented on #60
Figured out what I needed. See [here](https://reverseengineering.stackexchange.com/questions/18342/is-there-a-way-to-explicitly-connect-r2pipe-to-an-existing-radare2-session-that)

[2018-05-28 20:51] #60 closed

[2018-06-10 16:44] tko opened #61 "Examples of using r2pipe to write plugins?"
From README:

Are there examples of how to actually do any of these things? I couldn't find any, the closest thing seemed to be using `r2lang` instead.

[2018-06-11 07:27] radare commented on #61
Yes. A bunch of them. See the r2b repo

[2018-06-11 12:13] tko commented on #61
Could you be more specific? Both https://github.com/radare/r2b and https://github.com/radareorg/r2b are 404 and radare2-bindings/r2pipe only seems to make use of `cmd('/bin/ls')` basically.

[2018-06-11 12:36] radare commented on #61
in r2land when we speak about r2b we talk about radare2-bindings

r2r = radare2-regressions
r2pm = radare2-pm
...

[2018-06-25 17:04] Daniele-B opened #62 "write strings doesn't work on r2pipe"
`import r2pipe;
r2 = r2pipe.open('mybinary', flags=['-w']);
r2.cmd('s myaddress');
r2.cmd('w blabla')`

Strings wrote with scripts aren't persistent as they should.
It's a problem only with "w" command, if i do `r2.cmd('wx 9090')` for example it works...

My version of radare is `radare2 2.7.0-git 18567 @ linux-x86-64 git.2.6.0-369-ga00d09e5d
commit: a00d09e5d05a7fe19805c9e4e71c2672df25e650 build:

[2018-06-25 18:37] Daniele-B commented on #62
My fault sorry...

[2018-06-25 18:37] #62 closed

[2018-06-26 11:25] radare opened #63 "Implement rap:// protocol handling in r2pipe.py and .js"
Right now is handled by the r2 session

[2018-06-28 02:15] JacobPimental opened #64 "TypeError: a bytes-like object is required, not 'str'"
I'm trying to use r2pipe in Python 3 and keep running into the error "TypeError: a bytes-like object is required, not 'str'" when using the cmd() function. I have updated r2pipe via pip3, updated r2 to the latest version, and even updated r2pm just in case that would help any. I am running this on a Manjaro Linux machine, though I'm not sure if that would cause any problems. Here is the exact erro

[2018-08-15 14:35] mytbk commented on #64
There are some places to change, e.g.:

[code]

It looks like the r2pipe in pypi is the 2.4.0 release of this repo, but the current HEAD version changed a lot. I think you can modify the py files in your installed files.

[2018-08-15 15:08] mytbk commented on #64
This is the fix for 2.4.0 (looks like it's the current r2pipe-0.9.9)
https://github.com/mytbk/radare2-r2pipe/commit/15ceaa5c554d76ab96645f1b75b7f0c2a5650b32

[2018-08-21 21:02] Wenzel opened #69 "Python3 r2.cmdj: invalid JSON received"
Hi,

I was trying to use the latest `r2pipe` Python bindings on `radare/radare2` Docker container, and using the `r2.cmdj` command always results in this output:
[code]

Dockerfile to reproduce the bug
[code]

My test script
[code]

Thanks !

[2018-08-21 21:05] #69 closed

[2018-08-21 21:06] Wenzel commented on #69
my bad.

[2018-08-27 18:09] JulianSchuette opened #70 "r2pipe python-async seems much slower than previous sync version"
Please correct me if this is due to my insufficient python3/asyncio skills, but it seems like the new python-async version is much slower than the previous synchronized one.

A quick test (values are means of some iterations, the r2 specific cmd doesn't matter):

Synchronous version (version 2.4.0 commit 007f1d63):
[code]
_7.534199903602712e-05_

Asynchronous version (version 2.8.0, commit 6f60dee

[2018-09-09 22:28] Wenzel commented on #54
@radare i made some progress on this bug, it's still here, and i have a Dockerfile for you to reproduce:
[code]

output:
[code]

We should have seen a `pd 10` output being printed.

`r2pipe` script i'm using
[code]

Thanks guys !

[2018-09-15 15:09] Maijin opened #71 "Bug in argument of -d"
`r2 = r2pipe.open(["-d","AAABBB"])` is debugging the argument instead of the binary via @bannsec

From https://github.com/radare/radare2/issues/11341

[2018-09-15 16:13] radare commented on #71
Thats not a bug. Thats a bad usage of the api

[2018-09-24 11:51] Wenzel opened #74 "r2pipe Python returns empty string"
Hi,

I have a case here where I use `r2pipe` to script a debugger plugin for `radare2`
https://github.com/Wenzel/r2vmi/blob/master/examples/watch_syscall.py

What my script is doing:
[code]

The problem i'm facing, is that sometimes the `drj` command fails because the JSON returned is invalid.

By investigating a bit the problem, i spawned an `IPython` shell right after `r2.cmd('db {}'.format(hex(

[2018-09-24 11:54] Wenzel commented on #74
It may be related to #54.

[2018-10-21 15:11] pawlos opened #76 "Not working examples of using r2 via web interface"
I can see all (?) the r2pipe bindings contains an example to talk with r2 via http by connecting to [http://cloud.radare.org/cmd/](http://cloud.radare.org/cmd/). It looks like this address doesn't work.

Also the 'Try' link on radare2's [main page](https://www.radare.org/r/) uses a different address (I think for the same purpose) -
http://cloud.radare.org/enyo which also doesn't work.

Will those

[2018-10-22 21:06] pawlos commented on #76
Thanks for the answer. So should those examples be removed or changed so that r2 is locally spawned in web mode so that they can be used?

[2018-10-22 23:17] XVilka commented on #76
Yes, please do.

On Tue, Oct 23, 2018, 5:06 AM Paweł Łukasik <notifications@github.com>
wrote:

[2018-10-23 20:49] a1ext opened #77 "Multiple commands injection into `cmd`/`cmdj` while implementing automation scripts"
# Environment

- Windows 7 x64
- radare2 version: built with debug su
[code]

# Story

While working on some new sample, I was writing a script for decoding embed strings. It has some getting pointers, reading encrypted string, string deciphering and adding a comment to the place, where  the string is. Script is looked as the following:

[code]

While running this script I got the assertion failur

[2018-10-23 20:56] radare commented on #77
there a subcommand of CC that uses base64 as argument, so you wont have such command injection problems if you do it that way

[2018-10-23 20:58] a1ext commented on #77
Hi @radare,
Is it safe to users to keep this behavior? Is it docummented what `cmd`/`cmdj` can run many commands at once?

[2018-10-23 23:14] radare commented on #77
yeah may be good to document the behaviour of newlines and semicolons

[2018-11-08 14:17] GiuseppeLaurenza opened #78 "Modify section permissions with python"
Hi to all,
with some change in the radare2 behavior I can't use the "S" command to modify the section permission.
I need to make executable all the sections of a binary file in order to find all the functions, by default radare2 does not scan not executable section
Thus I want to ask how I can achieve this task in python with the r2pipe api

[2018-11-08 18:13] radare commented on #78
e anal.in=io.maps
E anal.noncode=true

No need to modify any section

[2018-11-18 18:49] chase1635321 opened #79 "Python3 Script "a bytes-like object is required""
I hope I'm not doing something wrong.
It works fine when running the script on its own, but fails if run with r2 -i <script> <executable>. This issues appears to be similar to #64 and #57 but I can't figure out how to implement the fix.

Versions
[code]
Python3 script
[code]
Running the script
[code]

[2018-11-19 21:03] BenHall-7 opened #80 "(Dotnet) Infinite loop in RunCommand; StandardOutput always returns 0xFFFF"
Example code where it hangs (the exact file I have it open doesn't matter, the issue persists no matter what I choose): https://gist.github.com/BenHall-7/5cb97c1f7d4e3453b7e8cfbba301ceef
And of course the files I choose open fine in regular r2.

The r2pipe commit I'm using is the current one (#399), but I'm not sure how up to date my build of radare2 is. It's from only a few months ago at most (ma

[2018-11-26 08:01] XVilka commented on #6
It was done already. And now I am the maintainer of the OCaml r2pipe. So please close it.

[2018-11-26 08:02] XVilka commented on #4
@radare is this one still valid?

[2018-11-26 08:53] radare commented on #4
Yes

[2018-11-26 08:53] #6 closed

[2018-11-29 15:47] securitykitten opened #81 "Windows r2pipe + python asyncio issues"
I hope I'm doing this right, but there seems to be an issue when running r2pipe on Windows.  I have a clean Win7 (x64) install with python 2 & python 3 installed.

#### Radare2 Version
[code]
#### r2pipe version (for python 2/3)
[code]
#### Creating the bug
When running in Python3
[code]

When running in Python2
[code]

I confirmed that I could open a binary using R2, so the issue seem to exist in

[2018-11-29 17:16] radare commented on #81
Looks like a windows specific issue

[2018-11-30 11:20] 0x6A6B opened #82 "Python3 usage example fails with v1.0.0"
I am seeing a failure of the simple usage example when I use v1.0.0 of r2pipe from pip with python3.

Here's what I see:

[code]

Here's the same test using v0.9.9 (I truncated the results for brevity):

[code]

Here are some details of my environment:

[code]

[2018-11-30 16:45] HongxuChen opened #83 "Failed to retrieve cmd/cmdj results on python r2pipe 1.0.0"
When using r2pipe 1.0.0, it has issues to retrieve cmdj/cmd results. Here are some of the tries.
![2018-12-01-004214_1130x736_scrot](https://user-images.githubusercontent.com/843267/49302385-f6409480-f501-11e8-928d-43edb6fafeaa.png)
The behavior is quite different from previous one such as 0.9.9 where we can use cmdj/cmd to get the output directly.

[2018-11-30 16:54] HongxuChen commented on #83
`/bin/zgrep` is not a good example since it's a script. but binaries such as `/bin/tempfile` also have this issue.

[2018-11-30 17:15] radare commented on #83
Can you write a test as a pullreq? Because iirc i tried all the tests in the r2pipe repo before publishing the new version. I am not maintaining this code but some ppl was asking me to push this release because they said it was fixing many things.. but seems like its the other way :D

[2018-11-30 17:16] radare commented on #82
Is this happening with python2 too?

The make test in the repo should be checking this stuff

[2018-11-30 17:18] 0x6A6B commented on #82
seems to be working okay in python2 in a quick test for me

[2018-12-04 10:33] radare commented on #81
so the status of this is:

py3: fails everywhere
py2: fails only on windows

is this correct?

[2018-12-04 17:00] securitykitten commented on #81
This issue was only relating to r2pipe's use on Windows, but I'm happy to check on a Linux build.

The TL;DR is what you said.

py3: fails everywhere
py2: fails only on windows.

Running on Ubuntu 18.04.1 LTS

### R2 Version
[code]

### Python3 r2pipe Information
[code]

### Pip2 r2pipe information
[code]

### Running in Python3
When running in python3, no results were returned with running `afl`

[2018-12-06 00:31] a1ext commented on #81
hi @securitykitten, can I ask you to test my fix? It is under testing but it seems ok.
Currently it's [here](https://github.com/a1ext/radare2-r2pipe/tree/fix-issue-81) (in branch `fix-issue-81`).
to try it you have to:
- uninstall `r2pipe` from your python `pip uninstall r2pipe`
- check out repo `git clone https://github.com/a1ext/radare2-r2pipe.git -b fix-issue-81`
- go to python implementation `

[2018-12-06 02:30] mateeuslinno commented on #1
The gem r2-pipe for ruby not work... I opened issue.
[link](https://github.com/crowell/r2pipe-ruby/issues/1)

[2018-12-06 13:00] #81 closed

[2018-12-06 16:03] 0x6A6B commented on #82
issue resolved in v1.1.0, thank you!

[2018-12-06 16:03] #82 closed

[2018-12-06 16:10] a1ext commented on #83
@HongxuChen could you test on 1.1.0 version?

[2018-12-06 16:48] HongxuChen commented on #83
@a1ext It works now!

[2018-12-06 16:48] #83 closed

[2018-12-06 21:32] a1ext commented on #57
Hi @epinna, could you re-check the issue with 1.1.0 version?

[2018-12-12 22:05] tfriesen opened #85 "python r2pipe.open() with no args is opening malloc://512"
I believe this bug was introduced with the changes made on Dec 6.

Basically, if I call r2pipe.open() with no args, instead of opening the pipe to the running radare2 instance, a new copy of radare2 runs with '-' as the file, which causes it to run malloc://512.

Ex This code:

`import r2pipe,os`
`r = r2pipe.open()`
`data = r.cmdj("ij")`
`print data`

Always returns this:
`[0x00001060]> . test_r2p

[2018-12-12 22:36] a1ext commented on #85
hi @tfriesen, you are right. Will fix that soon, thanks for reporting that.

[2018-12-13 00:04] #85 closed

[2018-12-13 23:40] a1ext commented on #79
I think it is solved, feel free to reopen an issue otherwise

[2018-12-13 23:40] #79 closed

[2018-12-15 17:05] a1ext opened #87 "r2pipe cannot `open` when it is being called from radare2 (using pipe)"
I have the following python code (`test_r2lang_pipe.py`) to check is pipe connection with radare2 works:
[code]

When I run it on Windows with Python 2 it works well:

[code]

But when I run it with Python 3 it fails:
[code]

[2018-12-15 21:03] radare commented on #87
This is fixed in git already. Will do a new release when i get my hands on a keyboard today

[2018-12-16 15:56] a1ext commented on #87
which one?

[2018-12-16 17:12] a1ext commented on #87
Fixes #64 as well

[2018-12-28 02:09] meiraxx opened #88 "utf8-decode! Very easy fix."
Hi guys! Please remove this decode as sometimes the output isn't utf8-decodeable. I'm referring to the file open_sync.py where I think you should remove the ".decode('utf-8')" piece of code in the _cmd_process function. thanks!

[2018-12-28 02:09] meiraxx commented on #88
![image](https://user-images.githubusercontent.com/25626434/50499947-95937180-0a45-11e9-9607-2087a7aa73ad.png)

[2018-12-28 08:44] radare commented on #88
Press the pencil button in github and edit the code yourself please. This will create a pullreq, which is the right place to discuss changes

[2019-01-13 12:50] a1ext commented on #57
Ok, closing the issue due to lack of feedback. Feel free to reopen it if you think the issue isn't solved

[2019-01-13 12:50] #57 closed

[2019-02-02 19:07] #80 closed

[2019-03-13 13:39] Maijin commented on #7
@aronsky if you want to work on something that could benefit a lot of users^

[2019-03-13 14:00] aronsky commented on #7
Will try to take a look at this.

[2019-03-25 13:40] zadlg opened #94 "Feed r2pipe with u?int8_t*"
I'm holding a PE into a `uint8_t* buffer`, and I want to give it to r2 through r2pipe for basic analysis.
I can't find a way to do it without creating a temporary file.

Does anyone have an idea ?

[2019-03-25 15:01] radare commented on #94
o malloc://sizeofbuffer <malloc://sizeofbuffer>
wx ...bytesofthisbuffer..
oba $$

there's a faster way to transfer data between host and target via r2pipe, but that depends on the backend and language you use, obv wx needs to be truncated into blocks because you cant feed megabytes of chars in a single line to r2

[2019-03-25 15:24] zadlg commented on #94
I'm using C++ with the C binding (r_socket.h)

[2019-03-25 15:46] radare commented on #94
then you can use the native r2pipe backend, get the RCore instance and do something like:

RIO * io = core->io;
RBuffer *buf = r_buf_new_from_bytes (...)
        RIODesc *d = r_io_open_buffer (io, buf);

[2019-03-25 15:48] zadlg commented on #94
I'll try that. Thanks.
Anyways, it could be nice if we could do that only with r2pipe, without using libr directly.

[2019-03-26 08:48] radare commented on #94
Any PoC is welcome

[2019-03-26 08:54] zadlg commented on #94
You mean a PoC with your suggestion ?

[2019-03-26 09:36] radare commented on #94
the suggestion was from you

[2019-03-26 10:03] zadlg commented on #94
Okay, so I have my core, my RBuffer and my RIODesc (using `r_io_open_buffer`), I binded the core to the R2Pipe using `r_core_bind` and then `r2pipe_open_corebind`, and if I try the `ie` cmd, nothing happens. I tried a `px 42` too, nothing.
I tried using directly `r_core_cmd0(core, "px 42")`, still nothing.

Maybe I'm missing a step between the moment I get the RIODesc and the moment I execute cmds

[2019-03-26 10:03] radare commented on #94
if you are sharing the same memory space you can r2pipe.open("rbuf://<pointer>"); and that may work if you have allocated an rbuffer structure in there.

[2019-03-26 10:04] zadlg commented on #94
TOCTOU DETECTED

Sound nice. really nice. I'm going to try

[2019-03-26 10:12] zadlg commented on #94
This doesn't work. More, it segfaults if I simply do `r2 rbuf://<pointer>`, but does not if I do `r2 -q0 rbuf://<pointer>`

[2019-03-26 10:14] radare commented on #94
because you have to use this from the native r2pipe api opening instead of spawning a new session

[2019-03-26 10:15] zadlg commented on #94
I don't get it. I don't spawn a new session, I'm using the same session

[2019-03-26 10:27] a1ext commented on #94
he means you have to execute your script from the r2 shell which is already open, like this `#!pipe /path/to/script.py`

[2019-03-26 12:54] zadlg commented on #94
@a1ext sorry but I don't use the r2 shell for now

[2019-03-26 12:55] zadlg commented on #94
my RCore shares the memory space with my program

[2019-03-26 13:21] radare commented on #94
Then why are you refering to r2 rbuf://...

[2019-03-26 13:22] zadlg commented on #94
About that?

[2019-03-31 08:17] Maijin opened #96 "Rap not adding text comments as expected"
From @bannsec

I'm attempting to use rap protocol to add comments to a remote r2 server. The setup is:

- r2 ./binary
- =&:12345

Then in a second window (in python):
[code]

Oddly enough, when I do a `r2.cmd('T')` in the python window, it shows the text. But when i just do `T` in the r2 window, it does not show the text.

I'd like to be able to send text/other remote commands to the r2 server tha

[2019-04-03 09:34] zadlg commented on #94
Using snowman. closing

[2019-04-03 09:34] #94 closed

[2019-04-03 10:24] radare commented on #94
wat

[2019-04-15 18:45] fennecfox0x01 opened #97 "r2pipe python (dc) problem"
Hello, I'm trying to use r2pipe python, but it seems not working (Release` r2pipe.py 1.2.0`).

File: _test_r2pipe.py_
[code]
Simple file to test _test.c_

[code]
So I run the python script
[code]
No output, and with a different program that require user inputs, there is no possibility to add it.

The same problem is present also in the last version of r2.

[2019-04-15 18:55] radare commented on #97
Why not use -d instead of ood?

[2019-04-15 19:05] fennecfox0x01 commented on #97
I already try with
`r = r2pipe.open("./test", flags=['-d'])
`
but nothing change, same problem

[2019-04-15 19:07] wjsetzer opened #98 "Popen and PIPE undefined in open_base.py"
Both Popen and PIPE are not imported in open_base.py.

A quick import fixes it for me (python 3.7.3, Arch Linux).

Can I submit a quick PR?

[2019-04-17 00:49] #98 closed

[2019-04-17 00:50] wjsetzer commented on #98
Fixed in the PR.

[2019-04-25 11:15] enovella commented on #88
Merged? Having similar error

[code]

[2019-04-25 11:23] enovella commented on #88
Without too much digging, I encountered some issues while manual compilation:
[code]

[2019-04-25 11:28] enovella commented on #88
It works!

[2019-04-25 12:15] radare commented on #88
Provide a reproducer please

[2019-04-25 12:25] enovella commented on #88
[code]
[test.zip](https://github.com/radare/radare2-r2pipe/files/3116824/test.zip)

[2019-04-25 13:47] radare commented on #88
Ok so its not json related

[2019-04-25 15:16] enovella commented on #88
There is a fix https://github.com/radare/radare2-r2pipe/pull/89 and I was wondering if it would be better to try-catch these 3 modified lines.

[2019-04-26 07:06] Ricx8 commented on #97
@fennecfox0x01 can you print something between each command to see where is actually failing, also which OS are you working on?. I'm having the same problem but I think is not `dc` exactly. I Think is the `ood` command in the first place (That it should work, but it doesn't) I actually took the time to compile and try your code and the `ood` does not work. Now, the reason you don't see anything wi

[2019-04-26 08:36] Ricx8 commented on #97
It most be a macOS issue. I texted in Linux and works. I tested in three different macs and I have that problem.
Tested on:
macOS 10.12 (16A323)    - Darwin 16.0.0  NOT WORKING
OS X 10.11.4 (15E65)       - Darwin 15.4.0  NOT WORKING
macOS 10.14.4 (18E226) - Darwin 18.5.0  NOT WORKING
Linux 4.15.0-47-generic   WORKING

I didn't tested on Windows.

[2019-04-26 09:14] a1ext commented on #97
on windows it works well:
![image](https://user-images.githubusercontent.com/14978853/56797192-d5fcd380-681c-11e9-850d-83b7edbc75d2.png)

[2019-04-26 09:24] Ricx8 commented on #97
The code that you grab was my, that one should work. The command with the problem is `doo` can you try the code that @fennecfox0x01 wrote?.

[2019-04-26 09:29] a1ext commented on #97
![image](https://user-images.githubusercontent.com/14978853/56798131-e01fd180-681e-11e9-9985-fda15c265fb5.png)

[2019-04-26 09:41] Ricx8 commented on #97
Thanks. That will help somebody. So there is a big chance that this problem is affecting only MacOS. I don't know what OS is @fennecfox0x01 using but I'm pretty sure by now that he is using MacOS.

[2019-04-26 10:01] a1ext commented on #97
I think on MacOS the user folder usually looks different, like `/Uses/username`

[2019-04-26 10:09] a1ext commented on #97
@fennecfox0x01 Could you provide more information about your environment?

[2019-04-26 10:41] #88 closed

[2019-04-26 21:10] fennecfox0x01 commented on #97
Hello @Ricx8 @a1ext thanks for your comments.
I'm using Ubuntu as system.

Please try to see if this other program works for you:

[code]
This is my script:
[code]
This is the result:
[code]
It never end, and there is not output.

[2019-04-26 22:12] Ricx8 commented on #97
That is not a radare2 problem. That is your code that it is in an infinite loop. You never give a value to 'choice'
Please check your program first with radare2 and then try with r2pipe. I'm confident that this bug is real but is affecting MacOS I have tested in 5 different mac  and 2 different Linux, and seams to work on Linux

[2019-04-27 07:04] fennecfox0x01 commented on #97
@Ricx8 thanks for your answer. With radare2 it works well, and with the old veresion of r2pipe it was working fine.

This is how it works with radare2

[code]
With r2pipe, I don't have the possibility to choose an option and the menu is not printed.

[2019-04-27 07:31] Ricx8 commented on #97
@fennecfox0x01 it's that the same code? because the code that you posted before is not even working by itself.

[2019-04-27 07:38] fennecfox0x01 commented on #97
@Ricx8 yes it is the same code, but it is just an example, if you try with any program that require user input (at running time) it will not works with r2pipe. After the "dc" command you cannot see output and you cannot type inputs.

[2019-04-27 09:59] Ricx8 commented on #97
@fennecfox0x01 I understand now what you are exactly talking about. Let's start with something simple and follow the next steps so we all can agree.

- [ ] Compile this hello world:
[code]

- [ ]  Write the script:
[code]

- [ ] You should get a similar output:
[code]

Yes! there is not "Hello, World!" anywhere because you never printed....

- [ ]  Write the modifications in the script:
[code]
And

[2019-04-27 10:13] a1ext commented on #97
I think he wants to see the output of his application in python, but r2pipe doesn't transfer stdout/stderr to the user, there is no such capability. But you will see the output in a console, from which you start that script

[2019-04-27 11:36] Ricx8 commented on #97
@a1ext i think all he needs to do is print `dc` that way he actually is printing the `out.decode('utf8')` from 'open_sync - _cmd_process'

[2019-04-27 13:43] fennecfox0x01 commented on #97
@Ricx8 @a1ext thanks for your comments. So from my understanding, when we run the "dc" command, it is not possible to have the control of stdout/stderr/stdin (of the process under debug).

Then it is not a bug.

Thanks!

[2019-04-27 13:47] Ricx8 commented on #97
@fennecfox0x01 you can printed `print(r.cmd('dc'))`

[2019-04-27 14:03] fennecfox0x01 commented on #97
yes I already try it, and it is fine for stdout, thank you :) but not for stdin

[2019-04-27 15:21] #97 closed

[2019-06-12 10:33] radare opened #100 "r2pipe.py is broken"
testcase
[code]

comments
[code]

![IMAGE 2019-06-12 12:31:28](https://user-images.githubusercontent.com/917142/59344257-008fe680-8d0e-11e9-9c66-5532ff7a7d4e.jpg)

[2019-07-10 03:19] abhyuday07 opened #102 "r2 pipe unable to fetch"
r2-pipe is unable to fetch output and crashes with the following message.

[code]

[2019-07-10 03:38] #102 closed

[2019-07-10 09:19] radare commented on #102
?

[2019-07-10 10:17] abhyuday07 commented on #102
I figured out the problem

[2019-07-10 11:25] radare commented on #100
i fixed it a while ago

[2019-07-10 11:25] #100 closed

[2019-07-10 11:26] radare commented on #96
still? we probably want to have an r2pipe testsuite... would u like to help on that?

[2019-07-10 11:27] radare commented on #96
because that works fine for me

[code]

[2019-07-10 11:27] #96 closed

[2019-07-10 11:27] radare commented on #78
thats unrealted to r2pipe

[2019-07-10 11:27] #78 closed

[2019-07-10 11:27] radare commented on #74
still?

[2019-07-10 11:41] radare opened #103 "r2pipe-promise hangs"
this is in `nodejs/r2pipe-promise/test-hang-bug.js`

[code]

[2019-07-10 19:49] Wenzel commented on #74
@radare I'm not working on this anymore, so I can't tell if the is still there.
You can close the issue if you want.

[2019-07-10 20:21] #74 closed

[2019-10-06 02:26] BenHall-7 opened #105 "`pip install r2pipe` fails"
python: 3.7.4
pip: 19.2.3
Attempted on Windows, command line output is the following
[code]

[2019-10-06 11:44] a1ext commented on #105
Hi @BenHall-7,
it seems you have python and radare2 of different bitness. If you have radare2 64-bit, please use python 64-bit

[2019-10-06 13:13] BenHall-7 commented on #105
@a1ext You were right, that fixed it! Thank you, I'll close the issue then

[2019-10-06 13:13] #105 closed

[2019-10-30 08:22] Fayozbek opened #108 "r2pipe cannot open file as a user"
The first of all thank you for the awesome project.
I am a newbie in Linux and Python
As a user, I have installed "radare2" and "r2pipe" (pip install r2pipe). But when I try to run a simple example (https://github.com/radareorg/radare2-r2pipe/tree/master/python).
```AttributeError: 'module' object has no attribute 'open'```
And then I installed r2pipe as root.  When I run this example as root, it

[2019-10-31 10:53] radare commented on #108
probably an issue in python, and your system, r2pipe works without any special permission or priviledge

[2019-12-24 12:05] dukebarman opened #109 "[Feature request] Add PosixPath object support for python r2pipe"
In Python3 if you use pathlib module for parsing files from a directory, you get results in PosixPath objects. When you send it to `r2 = r2pipe.open(filename)`, you receive an error:

[code]

And you need convert this path to string: `r2 = r2pipe.open(str(filename))`. It would be good add support or check this functionality in r2pipe python module.

[2020-01-16 08:22] lzina commented on #28
Hi @Stormys ,
Did you find any way to disable "Do you want to print x lines?" message?

Thanks,

[2020-01-17 12:37] radare commented on #28
e scr.interactive=0

But in r2pipe mode this shouldnt be needed

[2020-01-19 10:34] Carl1981 commented on #28
`help **where do we go from here** `

[2020-01-25 15:38] projectbtle opened #110 "Significant time difference in executing aaa with r2pipe vs. Cutter"
Firstly, many thanks for this great framework (particularly for features like r2pipe and Cutter)!

**Issue Description**
I'm trying to perform static analysis of a stripped binary file, and the goal is to do this using Python via r2pipe.

When I open the binary file in Cutter and specify certain options, Cutter is able to disassemble and display the contents within seconds. But when I use r2pipe w

[2020-01-25 15:54] projectbtle opened #111 "Confusing error message "OSError: [Errno 22] Invalid argument" when incorrect filepath is specified for `open`"
**Issue Description:**
When r2pipe is used to open a file, and the specified filepath is incorrect (i.e., points to a non-existent file), the stack trace doesn't end with "Cannot open file". It instead ends with "OSError: [Errno 22] Invalid argument" and points to the error being in `open_sync.py`. This can be quite confusing when troubleshooting.

_Code that throws error (test.py):_
[code]

_Erro

[2020-03-28 10:57] ITAYC0HEN commented on #110
Thank you for your kind words :)
Would you mind sharing the binary itself so we can investigate?

Indeed, try to use the latest radare2. In addition, please try to execute these stuff straight from radare2 and not from r2pipe. Let's understand what causes the issue :)

[2020-05-06 14:39] haystack-ia opened #114 "Python: Opening a file in a subdirectory called "tcp" raises exception"
**Describe the issue**

Opening a file in a directory called "tcp" (and presumably "http" after looking at the code) raises an exception.

**How to reproduce?**

Asciinema link here: https://asciinema.org/a/2UqHIBaaVHD1cCjsGWI7MA5po

**Expected behavior**

Opening a file in a directory named "tcp" or "http" should be handled.

**Possible fix**

Change lines 52 and 64 in open_async.py, and lines 33

[2020-05-06 15:35] #114 closed

[2020-07-08 07:37] XVilka opened #120 "Add Meson/Ninja build system support"
To be in sync with Radare2/Cutter.
cc @karliss @ret2libc

[2020-11-14 14:45] fr0ster opened #121 "Error after r2pm -i r2pipe-py"
**Describe the issue**

Can't install r2pipe

**How to reproduce?**

$r2pm -i r2pipe-py
r2pm -i r2pipe-py                                                                                                                              vagrant@vagrant
Install Done For r2pipe-py
/usr/lib/python2.7/dist-packages/secretstorage/dhcrypto.py:15: CryptographyDeprecationWarning: Python 2 is no longer supported

[2020-11-15 08:05] trufae commented on #121
Theres a repo for r2pipe. This is not the right repo to fill this issue. Also, py2 support was removed one year ago. Whats the error you get with pip3?

[2020-11-15 08:27] #121 closed

[2020-11-15 09:26] BwRy opened #122 "pip install r2pipe fails on urllib *SOLUTION*"
**Describe the issue**
When attempting to install r2pipe for python2, the following error caused by urllib API changes is observed:

[code]

This issue is caused by urllib API changes

**How to reproduce?**

You can reproduce this by running the following:

[code]

**Expected behavior**

Installation of r2pipe

**Possible fix**
Edit the file in r2pipe/open_sync.py:

[code]

[2020-11-15 12:39] trufae commented on #122
Make a pr instead of opening an issue describing the instructions

[2020-11-15 12:40] trufae commented on #122
Also python2 support was removed on purpose a year ago.

[2020-11-26 09:13] ITAYC0HEN commented on #122
Hey! Indeed, as @trufae said, the support for Python2 was dropped in r2pipe.
Do you experience the same issue with Python3? If so, we can look into it. If it is only relevant for Python2, then I'm afraid that this will not be supported anymore.

Please let us know if it is also relevant to Python3

[2020-11-30 12:26] zavalyshyn opened #123 "Running r2pipe Python in batch"
**Describe the issue**

I'm using r2pipe to extract callgraph info from all the binaries in a given folder. For each binary I first open it, then run an "aaa" command and then extract the callgraph in r2 commands format with "agC*" command. Now, there is no specific issue per se, r2pipe works as intended but it takes quite a lot of time to run through all the binaries.

I've checked the examples f

[2020-12-30 02:05] junknet opened #129 "How do I automatically interact with the process being debugged through standard IO？"
I want to do some FUZZ testing based on the input and output of the program.
OS:win10

[2021-02-17 22:02] HeyWatchOutDude opened #130 "macOS Big Sur "pip install r2pipe" not working"
Hi,

im unable to install "pip install r2pipe" on macOS Big Sur (11.2.1)

Error message:
![error](https://user-images.githubusercontent.com/61534143/108273656-2375cd80-7174-11eb-8a9b-d1168874d392.PNG)

Is that a known issue?

[2021-02-18 01:19] a1ext commented on #130
It seems you are using Python 2, please use Python 3 with `pip3 install r2pipe`

[2021-02-22 20:46] josephkehoe opened #131 "qt code example will not link properly with radare2"
## Environment

22/02/2021
radare2 4.3.1 6 @ windows-x86-64 git.4.3.1
commit: 54ac837b5503f10f91e2069ac357791f7a3e635a build: Fri 03/06/2020__15:52:24.93
Windows 10 Education
1.5.3

## Description

When the QT example code is compiled in using QT6 it compiles but fails when linking with 19715 errors like the following:

error: undefined reference to `r_config_get'
C:\Users\KEHOEJ\AppData\Local\Pro

[2021-02-22 21:07] trufae commented on #131
R2 4.3 is really old. Use the 5.x ones or git master. One reason for not finding the symbols could be using the 32bit sdk on 64bit linkage and viceversa

[2021-02-23 08:20] HeyWatchOutDude commented on #130
Thanks please close the case!

[2021-02-23 09:05] trufae commented on #130
You mean to close this issue?

[2021-02-23 09:05] #130 closed

[2021-02-24 10:33] josephkehoe commented on #131
Hi,

Thanks for the very prompt response.  I have done as you said (installed a more recent radare2 binary) and that solved the problem.

Your help is appreciated.

Thanks again,
Joseph.

[2021-02-24 10:33] #131 closed

[2021-02-24 11:05] josephkehoe opened #132 "Cannot find R2PIPE_IN or R2PIPE_OUT environment"
## Environment

Specify r2pipe language, version of the module, r2 version and OS/arch details.

24/02/2021
radare2 5.1.1 1 @ windows-x86-64 git.5.1.1
commit: 7516c079f0e903551574934b3ae428a5e907a101 build: Thu 02/11/2021__ 9:40:53.69

Windows 10 Education
10.0.19041 Build 19041

1.5.3  (r2pipe version)
[code]

[2021-02-24 21:18] trufae commented on #132
Those variavkes are set by r2. This program must be executed from the r2 shell like this:

[code]

or

[code]

[2021-02-27 14:14] josephkehoe commented on #132
Thanks again for the help.
Have gone through your solution.
Joseph.

[2021-02-27 14:14] #132 closed

[2021-03-28 13:34] gogo2464 commented on #108
@Fayozbek pip can break your system if it is installed out of virtualenv. Ensure you did it in. Else,

Try:

[code]

then try to launch your script.

[2021-04-28 16:28] #58 closed

[2021-06-06 03:59] sordidlist commented on #111
Also encountering this issue, here is an example of r2pipe claiming my argument is invalid:

[code]

Here is me doing the same thing in radare2.exe
[code]

I'm on a Windows 10 Pro, 64-bit VM
Using radare2-5.3.0 and python 3.7.9

[2021-06-06 07:39] radare commented on #111
That looks like a windows specific issue. As long as i dont have any windows could you try some stuff?

- try with latest r2 builds from git (a small bugfix related to r2pipe is there after 5.3.0)

https://github.com/radareorg/radare2/actions/runs/909049980#artifacts

- can you try copying the file to the current dir and open the file without the full path? Just passing the filename

- try not doi

[2021-06-06 17:20] sordidlist commented on #111
I gave it a try with the latest build from git, but got the same behavior.

I discovered that if I copy the file to the current dir AND take out the flags in the open, then it doesn't get the error. For instance, this ran on my Windows VM without an error:

`python3 -c "import r2pipe; r = r2pipe.open('brainpan.exe'); print(r.cmd('aaa'))"`

I didn't actually get any output from the `print(r.cmd('aa

[2021-06-06 18:18] radare commented on #111
the command 'aaa' only prints to stderr, so its expected to not get any output from it.

Thanks for testing,  i also noticed you used / instead of \ which is what i would expect from a windows path to contain. i think all those issues are in the python implementation of r2pipe.

Let me know if you want to go deep into the python module to add some prints here and there to determine what's going on

[2021-06-07 03:11] sordidlist commented on #111
I'd be happy to take a crack at it, if you don't mind helping me with specific places and things to test.

Regarding the /, yeah, I should have also mentioned I tried the normal Windows slashes but it thought it was an escape character:

[code]

Also, I have a radare2 functionality question but it's not really a bug, so I'm not sure this thread is the place for it. Would you rather I open a new is

[2021-06-07 07:48] a1ext commented on #111
Yeah, because you are writing path in python code. Have you tried double backslashes `\\` or to use single backslashes in a **raw** Python string like `r'C:\Users\sordidlist\Desktop\brainpan.exe'`?

[2021-06-07 13:36] sordidlist commented on #111
Can confirm it works if I escape the backslashes like `\\`, and also if I use r'string'. I've used byte strings in python before but I didn't know about raw strings, that's cool.

[2021-06-08 15:21] trufae commented on #111
So it's a no-issue? :D

[2021-06-08 15:41] sordidlist commented on #111
The only other thing is the `flags=['-A']` thing but the workaround of doing `r.cmd('aaa')` works just fine for me. I'll re-test the flags issue with the binary in the local dir later today but as I recall, that didn't work on Windows.

[2021-06-08 15:41] sordidlist commented on #111
If you've got bigger bugs to squash, I'm okay with closing this issue.

[2021-06-08 15:55] trufae commented on #111
There are always bugs to fix in r2land, but that's not a reason to close the issue, it should be fixed. but i can only attempt blind fixes because i dont have or use windows, if the issue is only with -A now, i have an idea about where could be the bug. If so, i can send you a link to the last r2 for windows with that fix (when i push it) and you can confirm the fix?

[2021-08-16 11:26] scmanjarrez opened #135 "[python3] r2.quit() hangs execution"
## Environment
Python 3.8.11

lun ago 16 13:14:15 CEST 2021
radare2 5.4.0-git 26650 @ linux-x86-64 git.5.4.0-git
commit: b0d8f6d3fc1262033af8d7366d99566958c6f9cb build: 2021-08-16__12:53:05
Linux x86_64
1.5.3

## Description
Exiting r2 with quit() hangs the program.

## Test
[code]

![Peek 2021-08-16 13-24](https://user-images.githubusercontent.com/9284124/129556420-2c4df296-8c27-469d-ac22-51329fa

[2021-08-18 01:02] radare commented on #135
can you pip install -UI r2pipe and try again?

[2021-08-18 08:49] scmanjarrez commented on #135
Hi, thank you very much. Version 1.5.5. now exits correctly. Closing issue.

[2021-08-18 08:49] #135 closed

[2021-08-18 09:42] trufae commented on #135
Awesome! i found another issue and i'm fixing it, so expect 1.5.6 to be published soon. Thanks for reporting! We surely need to add more r2pipe tests in the main repo.

[2021-08-19 10:17] QKaiser opened #137 "python r2pipe is suddenly failing on the binary info command `iIj`"
## Environment

- r2 version: 4.6.0-git aka 4.5.1 commit 26465
- r2pipe language: Python3
- r2pipe version: 1.6.0

## Description

r2pipe is suddenly failing on the binary info command `iIj`. We were previously using r2pipe v1.5.3 and since the move to r2pipe v1.6.0 we're observing erratic behavior when running that command using `cmdj`.

## Test

This can be reproduced with the following script a

[2021-08-19 11:37] QKaiser commented on #137
This is indeed due to commit a7654a599fd04dd7c24a5f21e9437e9bad7a06a6.

This commit introduced the following code:

[code]

A command is sent to get the radare2 version (`?V`) when testing for file open, but the output buffer is not read out so it will appear when r2pipe read from the buffer once the `iIj` command is sent out. This will trigger a JSON parsing issue.

Expected output:

[code]

Actu

[2021-08-19 17:46] trufae commented on #137
I can't reproduce, so i assume it's because you are using a very old version of r2. Please install r2-5.3 or the last from git

[2021-08-19 17:48] as0ler commented on #137
It works with last r2 version. I couldn't reproduce the issue.

<img width="680" alt="image" src="https://user-images.githubusercontent.com/11234807/130118573-fefd14b1-ee93-4216-b8fe-b5a90038105d.png">

![image](https://user-images.githubusercontent.com/11234807/130118821-4aa26901-79a8-4133-b36e-952da3a74fcf.png)

We will close this issue. Please do not hesitate to reopen this ticket if it is stil

[2021-08-23 09:40] QKaiser commented on #137
I checked again with the following r2 version:

[code]

And r2pipe v1.5.5:

[code]

The error still triggers randomly:

[code]

 I looked at the result string parsed by cmdj by making the following change:

[code]

And discovered that, sometimes, the result string starts with a null byte:

[code]

This is exactly what triggers this error:

[code]

An easy fix is the one below, although it may be b

[2021-08-23 11:05] trufae commented on #137
Im fine to include a workaround for now, but that null byte trim should happen on cmd. Not cmdj. And would be good to investigate further to understand that racy bug and do the proper fix. Can you submit a pr with the workaround?

On 23 Aug 2021, at 11:40, Quentin Kaiser ***@***.***> wrote:

[2021-08-23 11:41] radare commented on #137
The null byte is the output terminator so this could be a bug in the way the output of r2 is parsed in python. But the random nature of this bug is weird, and makes me think the nonblocking reads are sometimes racy in the way the current code works.

On 23 Aug 2021, at 13:05, pancake ***@***.***> wrote:

[2021-08-24 17:16] enovella commented on #137
Getting a similar error with r2pipe v1.6.0:

[code]

[2021-08-24 17:33] trufae commented on #123
r2pipe is slow, in part because of Python, in part because the way it reads the data from the pipe. you can use the native r2pipe by prefixing the filepath with `ccall://` so it will use dlopen(r_core) and do direct C api calls. that will make the script at least 10 times faster.

You can help improving the r2pipe module and profiling that issue. other langs dont have this issue

[2021-08-24 20:45] zavalyshyn commented on #123
Many thanks! I didn't know you could do that with prefixes

[2021-08-24 20:45] #123 closed

[2021-08-30 20:24] trufae commented on #137
I can repro. Investigating

[2021-10-11 23:14] utkonos opened #141 "Redirecting stderr"
## Environment

Mon Oct 11 23:03:01 UTC 2021
radare2 5.4.2 1 @ linux-x86-64 git.
commit: 84e6cc6a21ec1c816d4d3eb3510d2cdc94330414 build: 2021-09-20__04:53:52
Linux x86_64
1.6.4

## Description

When running an analysis command, `aaa`, for example, a single `\n` is sent to stderr no matter what. Also, if the r2 command has any error output, that is also sent to stderr. Looking at a very old issue:

[2021-10-12 13:46] trufae commented on #141
if you want to read the stderr of the process you need to check the V bindings, its the only place i implemented this feature half year ago. nobody showed interest, so i didnt went for other bindings, it should be doable to have it for python and nodejs, but that implies using and async api because stderr messages are captured asyncroously.

you can read more about this in here https://github.com/

[2021-10-30 12:59] Oliver-zrz opened #142 "test-pipe.c:1:10: fatal error: r_socket.h: No such file or directory"
## Environment
radare2 5.4.3 26925 @ linux-x86-64 git.5.4.2
commit: 65448811e5b9582a19cf631e03cfcaa025a92ef5 build: 2021-10-30__18:51:09

## Problem
When I compiled test-pipe.c, the following error appeared. I'm here for some help, could you analyse this problem and teach me how to solve it, please?
[code]

[2021-10-30 13:52] trufae commented on #142
You have to install pkg-config

[2021-10-30 14:07] Oliver-zrz commented on #142
It works, thank you very much

[2021-10-30 14:08] Oliver-zrz commented on #142
It works, thank you very much

[2021-10-30 14:08] Oliver-zrz commented on #142
It works, thank you very much

[2021-10-30 14:08] Oliver-zrz commented on #142
It works, thank you very much

[2021-11-19 09:08] #120 closed

[2021-11-19 09:09] trufae commented on #137
Uhm i fixed some issues in r2 and r2pipe along this time, can you retry?

[2021-11-19 09:09] #142 closed

[2021-11-19 09:10] trufae commented on #111
anything bad happened that evening? 😱

[2021-11-23 08:48] QKaiser commented on #137
Hi !

So I checked and the race condition still exists, but this time for a different reason.

The error was previously triggered due to the presence of a null byte at the beginning of the  `result` string. Now the `result` string is simply empty.

[code]

This is the equivalent of doing:

[code]

r2 version in use:

[code]

[code]

I saw your tentative fix at https://github.com/radareorg/radare2-

[2021-11-24 17:13] trufae commented on #137
fixed in master (and released 1.6.5) thanks!

[2021-11-24 17:13] #137 closed

[2021-11-24 19:55] QKaiser commented on #137
Just confirmed it works, thanks a lot !

[2021-12-06 07:29] saneeha-amir opened #143 "Python: Using r2pipe for analysing memory dump of an android process"
hello,

I want to disassemble a process dump obtained from an android device. The dump is obtained using volatility 'linux_procdump' command. The redare2 interface is working fine on the dump and I can see the disassembled instructions. But r2pipe script gives the following error:

"Warning: run r2 with -e bin.cache=true to fix relocations in disassembly"

The script i have written is as under:

i

[2021-12-06 15:15] trufae commented on #143
The -e flag requires an argument

the warning you see is not an error and it will happen on notmal r2 unless you do what it says

[2021-12-07 04:11] saneeha-amir commented on #143
Many thanks for your response.
Please guide what should i do as the screen is stuck with this warning.

Can you please correct the command i m using.
r= r2pipe.open('./dump',flags=['-e'])

Ill be really grateful

[2021-12-08 06:36] saneeha-amir commented on #143
dear all,
I have figured out that 'e' represents all the configuration variables.  I think i need to set the configuration variable of bin.cache to true. It is currently false. I should run r2pipe after resetting.
Please guide which file contains the configuration settings of radare2 as i m unable to find the configuration file.
Ill be grateful

[2021-12-09 04:07] saneeha-amir opened #144 "Cant find radare2rc configuaration file"
Dear all,

I am trying to work on the analysis of android memory dump. In order to open the dump from r2pipe i need to set the configuration variable of "bin.cache" to true. For this purpose I need to access the configuration file which contains all the configuration variables.
The problem is that I am unable to find the file at following locations:

/usr/share/radare2/radare2rc
~/.radare2rc
~/.co

[2021-12-09 06:36] saneeha-amir commented on #143
Dear all,

I have finally been able to run r2pipe. It was a problem with python. I was using python2.
r2pipe is working perfectly fine with python3.

Warning is there but output is obtained.

[2021-12-09 06:36] #143 closed

[2021-12-09 08:38] trufae commented on #143
Sorry for the delay, ivebeen busy irl during the last 6 days.

the line should be:

`r= r2pipe.open('./dump',flags=['-ebin.cache=true'])`

[2021-12-09 08:45] trufae commented on #144
This file doesn't exist until the user creates it, all the paths where r2 checks for it are listed in `r2 -hh` so you know the paths already. that's a common behaviour in unix applications, so i dont think r2 should create that file.

There's no r2 installer :? but iasume you run sys/install.sh again maybe? that wont create that script either, because thats a system installation and the script sho

[2021-12-09 08:45] trufae commented on #144
Also, this is a ticket that should be filled inthe r2 repo, not in r2pipe

[2021-12-09 08:46] trufae commented on #143
uhm, in theory r2pipe should run fine in python2, but its better to get rid of it as its deprecated and unmaintained.

[2021-12-10 04:43] saneeha-amir commented on #143
Many thanks for your reply. I have changed the command as you have suggested and the warning is gone.

I have again verified running with python2 , but it is not working on my system.
Python3 is working fine.

[2021-12-10 04:45] saneeha-amir commented on #144
Alright i understood. Thanks alot for explaining.

The configuration can be made by defining the flag as under:
r= r2pipe.open('./dump',flags=['-ebin.cache=true'])

There is no need to find and edit the configuration file.

[2021-12-10 04:45] #144 closed

[2022-01-14 07:48] sdt27 opened #146 "The outputs of 'cmd()' is empty on Windows 10"
## Environment

[code]

## Description
There seems to be a bug here, the cmd command does not output the results correctly. This looks like an issue with newlines.

## Test
[code]

[2022-01-18 10:15] themaks commented on #146
![image](https://user-images.githubusercontent.com/6764424/149917306-2c20c115-7982-4217-9591-b3e230bf23ca.png)
Here is a *horrible* work around :)

There seems to be an extra null-byte in the pipe at the start of the r2 process ?

[2022-01-25 02:17] abay12676 commented on #146
That's not a good work around, things are failing randomly due to these null bytes long after the pipe is opened.

[2022-01-28 22:14] filipe-cogo commented on #146
Apparently changing `zro = foo.find(b"\x00")` to `zro = foo.rfind(b"\x00")` on `_cmd_process(self, cmd)` at `open_sync.py` solves the issue.

[2022-02-06 15:50] radare commented on #146
The first message after spawning r2 its a null byte. The rest of messages
do not have this. So an rfind should break other things. I cant repro on
linux/mac.

On Fri, 28 Jan 2022 at 23:14, Filipe R. Côgo ***@***.***>
wrote:

--
--pancake

[2022-04-25 16:10] stiv-kupchik commented on #146
I had the same issue, and it seems that it's not only the first message after spawn that has a null byte - every command return started with \x00. I added a check after `foo.read` for this and it seemed to solve the issue
[code]

[2022-04-25 17:15] radare commented on #146
Can you send a pullrequest instead?

[2022-04-26 08:57] trufae commented on #146
Fixed in master. thanks for submitting the fix!

[2022-04-26 16:32] pipothebit opened #148 "ioplugin and map file"
Hi,
I'm using r2pipe to try to map a "virtual" file at certain address. The command line that i am using is:
`  r2 \
  -a arm \
  -b 32 \
  -e cfg.bigendian=true \
  -c "e asm.emu=true" \
  -c "on malloc://16K 0x10000000 rwx" \
  -c "omn 0x10000000 sram_1" \
  -c "on malloc://128M 0x20000000 rwx" \
  -c "omn 0x20000000 sram_2" \
  -c 'on "r2pipe://node test-r2io-plugin.js" 0x3c000000 rw'
  bios.he

[2022-05-02 11:29] trufae commented on #148
yes you can do this with r2pipe.

[2022-05-02 12:26] pipothebit commented on #148
can you point me in some direction how to do this with r2pipe?
What fails in the command line with which I launch r2?

[2022-06-02 16:48] trufae commented on #146
r2 5.5.4 is pretty old, like 1 year old. there was a release of the r2pipe module so no need to install it from git. i'll look into that if that's not the case.

[2022-06-03 11:46] trufae commented on #146
omg i forgot to publish 1.6.6 🤦  i just pushed 1.7.0 with some more changes. can you try again? thanks for the headsup

[2022-06-03 11:48] trufae commented on #148
you can pass arguments to the r2 process you spawn by using the 2rd argument of the open() call in the python API. also you can do the same by opening "--" file which means no-file, and then running thos ecommands and `o` to open the file.

btw, see pydoc r2pipe, but the 2nd arg is an array of arguments passed to the r2 process.

but that wont work if you use the native r2pipe api or http api

[2022-06-03 11:52] trufae commented on #141
i'm changing the code to use R_LOG apis, which permit hooking log messages at api level and configuration options to change its behaviour. but that transition not yet fully covered. maybe for 5.8

[2022-06-03 12:22] jacob-pro commented on #146
Thanks @trufae but it still doesn't work, what changes are you referring to?
Like I said I already tried commit https://github.com/radareorg/radare2-r2pipe/commit/e3b54c17e9812cbbdb3e84a4e96adf3c74b6b772 by downloading directly from git, but it still doesn't work unless I call `r.cmd()` twice.

I'm currently just doing this in my code to work around it:
[code]

[2022-06-03 13:59] utkonos commented on #141
I had found a workaround a while ago and had not revisited this issue to mention it.

This Python package does the trick nicely:

https://github.com/minrk/wurlitzer

## Install

    pip install wurlitzer

## Usage

Capture stdout/stderr in pipes:

[code]

Capture stdout/stderr in StringIO:

[code]

Forward C-level stdout/stderr to Python sys.stdout/stderr,
which may already be forwarded somewhere

[2022-06-05 08:25] trufae commented on #146
i had some time (finally) to test and fix it. Please try again with r2pipe 1.7.1 :) it seems to work well on windows linux and mac now. i need to improve the testsuite.

i have also realized that if you have outdated plugins, the "please run r2pm .." message is breaking r2pipe too.

[2022-08-16 14:39] jcook-bb opened #149 "r2pipe doesn't handle ASM searching well of patterns."
radare2 will work for the following
    [0x000010d0]> "/adj push;push"
    [{"offset":4316,"len":2,"code":"push eax; push esp"},{"offset":4317,"len":2,"code":"push esp; push edx"},{"offset":4343,"len":2,"code":"push eax; push ecx"}}]

However r2pipe doesn't seem to handle this.

  r2pipe.cmdj.Error: Extra data: line 2 column 1 (char 3255)

Any ideas on a work around? r2pipe works for single search

[2022-08-16 15:02] trufae commented on #149
thats an expected result as the `;` is a special caracter used to separate commands and you can run multiple commands at once. in the r2 shell you need to quote the whole command, so you must do the same when using it via r2pipe, pick the one you like more: escaping the colon or quoting the whole thing

* r2.cmdj("/adj push\\;push")
* r2.cmdj("\"/adj push;push\"")

[2022-08-16 15:02] #149 closed

[2022-11-23 20:07] jmattheus opened #155 "r2pipe Python is slow when processing large results"
## Environment

radare2 5.7.9 29270 @ linux-x86-64 git.5.7.8-352-g53b5d81100
commit: 53b5d81100957dc536fd895cabee8d26f184fe86 build: 2022-10-17__16:55:35
Linux x86_64
r2pipe 1.7.3
Python
## Description
When processing a command with a large output, there is a significant delay.
An example of one such command is: `pDj 0x380a00`

## Test
Run some large command:
[code]

## Suggested fix
open_sync is

[2022-11-23 21:23] trufae commented on #155
Press the pencil button make the change and press the submit pr button. Its better to discuss code changes as pullrequests, not to mention the fix will be under your name.

thats a nice catch btw :) crazy that such a little change can have such big impact

thanks!

[2022-11-25 10:39] #155 closed

[2022-11-25 10:41] trufae commented on #155
I just commited your fix referencing your name and the issue :) hope that's fine for you

also confirmed the fix was correct and published a new build (1.7.4)

thank you!

[2022-11-25 21:39] jmattheus commented on #155
I opened the issue planning to reference it in a PR, but got pulled into something else. Thanks for pushing it in.